---
layout: default
og:
  exclude: 'yes'
---

<div class="pure-g index">
  {% for i in (0..11) %}
    {% assign post = site.posts[i] %}
    <div class="pure-u-12-24 pure-u-sm-8-24 pure-u-md-6-24 index-item">
      {% if post %}

        <a href="{{ post.url }}" title="{{post.date | date: "%Y %m %d" }} • {{ post.title }}">
          <!--<img src="{{ post.image }}l.jpg" alt="{{ post.title }}" class="pure-img" />-->
          <img src="http://res.cloudinary.com/dxfoto-ru/image/upload/t_small/{{post.date | date: "%Y"}}/{{post.date | date: "%m"}}/{{post.date | date: "%Y-%m-%d"}}.jpg" class="pure-img" alt="{{ post.title }}" />
        </a>

      {% else %}
        <i class="fa fa-ellipsis-h"></i>
        <img src="/stub.png" class="pure-img" />
        <a href="/"><i class="fa fa-ellipsis-h"></i></a>
      {% endif %}
    </div>
  {% endfor %}

  <style>
.index .full .item {
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em;
}
.index .full .item .left {
  display: inline-block;
  text-align: right;
}
.index .full .item .right {
  display: inline-block;
}
.index .full .item .right .day {
  font-size: 3em;
  line-height: 1em;
  font-weight: 100;
}
.index .full .item .left .title {
  vertical-align: middle;
  font-weight: 300;
}
.index .full .item .left .month-year {
  vertical-align: middle;
  font-weight: 100;
}

.index .full .divider {
  margin-top: 32px;
}



  </style>
  <div class="pure-u-24-24 full">
    {% assign prv_m = "13" %}
    {% for post in site.posts %}
      {% assign cur_m = post.date | date: "%m" %}
      {% unless cur_m == prv_m %}
        <div class="divider"></div>
      {% endunless %}
      <div class="item">
        <div class="left">
          <div class="title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </div>
          <div class="month-year">
            {{ post.date | date: "%Y" }} {{ post.date | date: "%m" }}
          </div>
        </div>
        <div class="right">
          <div class="day">
            {{ post.date | date: "%d" }}
          </div>
        </div>
      </div>
      {% assign prv_m = cur_m %}
    {% endfor %}
  </div>

  {% assign prv_y = "9999" %}
  {% assign prv_m = "13" %}
  <div class="pure-u-24-24">
    {% for post in site.posts %}
      {% assign cur_y = post.date | date: "%Y" %}
      {% assign cur_m = post.date | date: "%m" %}

      {% unless cur_y == prv_y %}
        <h1>{{ post.date | date: "%Y" }}</h1>
      {% endunless %}
      {% unless cur_m == prv_m %}
        <h2>{{ post.date | date: "%m" }}</h2>
      {% endunless %}

      <div class="post-link">{{ post.date | date: "%d" }}: <a href="{{ post.url }}">{{ post.title }}</a></div>
      {% assign prv_y = cur_y %}
      {% assign prv_m = cur_m %}


    {% endfor %}
  </div>
</div>
