---
layout: default
og:
  exclude: 'yes'
---

<div class="pure-g index">
  {% for i in (0..11) %}
    {% assign post = site.posts[i] %}
    <div class="pure-u-12-24 pure-u-sm-8-24 pure-u-md-6-24 index-item">
      {% if post %}
        <a href="{{ post.url }}" title="{{post.date | date: "%Y %m %d" }} • {{ post.title }}">
          <img src="https://img.dxfoto.ru/s/{{post.date | date: "%Y"}}/{{post.date | date: "%m"}}/{{post.date | date: "%Y-%m-%d"}}.jpg" alt="{{ post.title }}" class="pure-img" />
        </a>
      {% else %}
        <i class="fa fa-ellipsis-h"></i>
        <img src="/stub.png" class="pure-img" />
        <a href="/"><i class="fa fa-ellipsis-h"></i></a>
      {% endif %}
    </div>
  {% endfor %}

  <div class="pure-u-24-24 full">
    {% assign prv_m = "13" %}
    {% for post in site.posts %}
      {% assign cur_m = post.date | date: "%m" %}
      {% unless cur_m == prv_m %}
        <div class="divider"><i class="fa fa-calendar"></i>&emsp;<a href="/{{ post.date | date: "%Y" }}/{{ post.date | date: "%m" }}">Архив за {{ post.date | date: "%Y" }}.{{ post.date | date: "%m" }}</a></div>
      {% endunless %}
      <div class="item">
        <div class="left">
          <div class="title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </div>
          <div class="month-year">
            {{ post.date | date: "%Y" }} {{ post.date | date: "%m" }}
          </div>
        </div>
        <div class="right">
          <div class="day">
            {{ post.date | date: "%d" }}
          </div>
        </div>
      </div>
      {% assign prv_m = cur_m %}
    {% endfor %}
  </div>
</div>
