html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Fira Sans', sans-serif;
  font-weight: lighter;
  line-height: 1.1em;
}
body {
  background-color: #f0f0f0;
  /*font-family: Roboto, sans-serif !important;*/
  font-family: 'Fira Sans', sans-serif !important;
  font-weight: 300;
  font-size: 14pt;
  line-height: 1.1em;
}
a {
  color: #b25d5d;
  text-decoration: none;
}
.site-header {
  background: #667654;
  text-align: center;
  color: #f0f0f0;
  box-shadow: 0 4px 8px 0 #7f7f7f;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
.site-header h1 {
  font-size: 3em;
  font-weight: lighter;
}
.links {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 #7f7f7f;
  margin-bottom: 8px;
}
.left {
  text-align: left;
}
.left a {
  padding-left: 1em;
}
.right {
  text-align: right;
}
.right a {
  padding-right: 1em;
}
.center {
  text-align: center;
}
.center a {
  padding-left: 1em;
  padding-right: 1em;

}
.text {
  margin-top: 8px;
  padding-bottom: 18px;
  box-shadow: 0 -4px 8px 0 #7f7f7f;
}
.meta {
  font-size: 0.9em;
}
.meta ul {
  list-style-type: none;
}
.meta ul li {
  display: inline-block;
}
.footer {
  background-color: #b25d5d;
  color: #f0f0f0;
  box-shadow: 0 -4px 8px 0 #7f7f7f;
}
.footer p {
  margin-left: 2em;
}
.footer p a {
  color: #f0f0f0;
  text-decoration: underline;
}
.footer .pure-menu-link {
  color: #f0f0f0;
}
.footer .pure-menu-link:hover {
  color: #b25d5d;
}
.index {
  margin-top: 8px;
  margin-bottom: 8px;
}
.index-item {
  text-align: center;
  /*margin-top: 8px;*/
}

.index-item img {
  filter: saturate(15%) contrast(110%);
  -webkit-filter: saturate(15%) contrast(110%);
  transition: filter 1s, -webkit-filter 1s;
  -webkit-transition: -webkit-filter 1s;
}

.index-item img:hover {
  filter: unset;
  -webkit-filter: none;
}

.index h1 {
  padding-left: 1em;
}
.index h2 {
  padding-left: 2em;
}
.index .post-link {
  padding-left: 4em;
}

.index .full .item {
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em;
}
.index .full .item .left {
  display: inline-block;
  text-align: right;
}
.index .full .item .right {
  display: inline-block;
}
.index .full .item .right .day {
  font-size: 3em;
  line-height: 1em;
  font-weight: 100;
}
.index .full .item .left .title {
  vertical-align: middle;
  font-weight: 300;
}
.index .full .item .left .month-year {
  vertical-align: middle;
  font-weight: 100;
}
.index .full .divider {
  margin-top: 32px;
}

.tag {
  padding-right: 1.2em;
  white-space: nowrap;
}
.tag i {
  padding-right: 0.6em;
}

.colored-wrapper {
  height: 0;
  position: relative;
}
.colored-wrapper img {
  width: 100%;
  position: absolute;
}
