<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# place: http://ogp.me/ns/place# article: http://ogp.me/ns/article#">
  <meta charset="utf-8" />
  <meta http-equiv="content-language" content="ru-ru">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="ZvPmagH8g2Vclme_oEBYqPb_5GxlVBZtDdk8a2GHlTg" />
  <meta name="msvalidate.01" content="6C0A1671D6DA96989607846EF49015FD" />
  <!-- made with Real Favicon Generator http://realfavicongenerator.net -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#667654">
  <meta name="apple-mobile-web-app-title" content="dxfoto.ru">
  <meta name="application-name" content="dxfoto.ru">
  <meta name="msapplication-TileColor" content="#667654">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#667654">
  <!-- end of favicon block -->
  <title>
    {% if page.title %}
      {% unless page.type == 'archive' %}
        {{ page.date | date: "%Y %m %d" }} •
      {% endunless %}
      {{ page.title }} •
    {% endif %}
    {{ site.title }}
  </title>
  {% unless page.og.exclude == "yes" %}
    {% include og.html %}
  {% endunless %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml" />
  <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css" />
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css" />
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css" />
  <!--<![endif]-->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic,300italic&subset=latin,cyrillic" rel="stylesheet" type="text/css" />-->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/style.css" media="screen" />
</head>
