<!-- opengraph -->
<meta property="og:url" content="http://www.dxfoto.ru{{ page.url }}">
<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.content | markdownify | strip_html | xml_escape }}">
<meta property="og:image" content="{% img_src m %}">
<meta property="og:locale" content="ru_RU">
<meta property="article:author" content="{{ page.author }}">
<meta property="og:site_name" content="dxfoto.ru">
{% for link in page.links %}
  <meta property="og:referenced" content="{{ link.href | xml_escape }}">
{% endfor %}
<!-- twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@dxfoto_ru">
<!--<meta name="twitter:creator" content="@at8eqeq3">-->
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.content | markdownify | strip_html | | xml_escape }}">
<meta name="twitter:image" content="{% img_src m %}">
<!-- vk -->
<meta name="title" content="{{ page.title }}">
<meta name="description" content="{{ page.content | markdownify | strip_html | | xml_escape }}">
<!--<link rel="image_src" href="{{ page.image }}.jpg">-->
<link rel="image_src" href="{% img_src m %}">
