---
layout: default
---
<div itemscope itemtype="http://schema.org/Photograph">
  <div class="pure-g links">
    <div class="pure-u-6-24 left">
      {% if page.previous %}
        <a href="{{ page.previous.url }}"><i class="fa fa-arrow-left"></i> {{ page.previous.date | date: "%Y %m %d" }}</a>
      {% else %}
        <a href="#"><i class="fa fa-times"></i></a>
      {% endif %}
    </div>
    <div class="pure-u-12-24 center">
      <strong><time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y %m %d" }}</time></strong>
    </div>
    <div class="pure-u-6-24 right">
      {% if page.next %}
        <a href="{{ page.next.url }}">{{ page.next.date | date: "%Y %m %d" }} <i class="fa fa-arrow-right"></i></a>
      {% else %}
        <a href="#"><i class="fa fa-times"></i></a>
      {% endif %}
    </div>
  </div>
  <div class="pure-g pic">
    <div class="pure-u-1">
      <img itemprop="image" src="{% img_src l %}" class="pure-img" alt="{{ page.title }}" />
    </div>
  </div>
  <div class="pure-g text">
    <div class="pure-u-md-6-24 pure-u-1"> </div>
    <div class="pure-u-md-12-24 pure-u-1">
      <h2 itemprop="name">{{ page.title }}</h2>
      <div itemprop="description">{{ content }}</div>
      <div class="meta tags">
        <hr />
        <i class="fa fa-map-marker"></i><span class="tag">{{ page.location }}</span>
        <i class="fa fa-calendar"></i><span class="tag" itemprop="dateCreated" dateTime="{{ page.shoot_date }}">{{ page.shoot_date }}</span>
        <i class="fa fa-user"></i><span class="tag" itemprop="creator">{{ page.author }}</span>
        <i class="fa fa-camera"></i><span class="tag">{{ page.gear }}</span>
        {% if page.links %}
          <hr />
          <ul>
            {% for link in page.links %}
              <li>
                <a href="{{ link.href }}" class="pure-menu-link" itemprop="sameAs">
                  <i class="fa fa-link"></i>
                  <b>{{ link.info }}</b>:
                  {% if link.title %}
                    {{ link.title }}
                  {% else %}
                    {{ link.href }}
                  {% endif %}
                </a>
              </li><br />
            {% endfor %}
          </ul>
        {% endif %}
        <hr />
        <i class="fa fa-cloud-download"></i> Скачать:
        <a href="{% img_src f %}">Исходный *</a> |
        <a href="{% img_src l %}">2048 ⨉ ?</a> |
        <a href="{% img_src m %}">1024 ⨉ ?</a> |
        <a href="{% img_src s %}">512 ⨉ 512</a> |
        <p><small>* "исходный" тут значит "такой, какой загружен в CDN", это не всегда соответствует наибольшему существующему размеру картинки.</small></p>
        <!-- automated meta -->
        {% assign y = page.date | date: '%Y' %}
        {% assign m = page.date | date: '%m' %}
        {% assign d = page.date | date: '%Y-%m-%d' %}
        <!-- tags -->
        {% assign tags = site.data.tags[y][m][d]['results'][0]['tags'] %}
        {% if tags %}
          {% assign tag_count = tags | size | minus: 1 %}
          <style>
            .tags .tag {
              padding-left: 0.7em;
              padding-right: 0.7em;
            }
          </style>
          <div class="tags" itemprop="keywords">
            <i class="fa fa-tags"></i>
            {% for tag in tags limit:tag_count %}
              <span class="tag" style="filter: opacity({{ 100 | plus: tag['confidence'] | divided_by: 2 }}%)">{{ tag['tag'] }},</span>
            {% endfor %}
            {% assign tag = tags | last %}
            <span class="tag" style="filter: opacity({{ 100 | plus: tag['confidence'] | divided_by: 2 }}%)">{{ tag['tag'] }}</span>
          </div>
        {% else %}
          <p>No tags</p>
        {% endif %}
        <!-- colors -->
        {% assign colors = site.data.colors[y][m][d]['data'] %}
        {% if colors %}
          <style>
            .colors {
              width: 100%;
            }
            .colors .color {
              display: inline-block;
              height: 1em;
            }
          </style>
          <div class="colors">
            {% for color in colors %}<div class="color" style="width: {{ color['percentage'] }}%; background-color: {{ color['color']['hex_color'] }};"> </div>{% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="pure-u-md-6-24 pure-u-1"> </div>
  </div>
</div>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Article",
    "name" : "{{ page.title }}",
    "datePublished" : "{{ page.date | date_to_xmlschema }}",
    "image" : "{{ page.image }}",
    "articleBody" : "{{ page.content | strip_html | strip_newlines }}",
    "headline" : "{{ page.title }}"
  }
</script>
