---
layout: default
---
{% assign y = page.date | date: '%Y' %}
{% assign m = page.date | date: '%m' %}
{% assign d = page.date | date: '%Y-%m-%d' %}
{% assign exif = site.data.exif[y][m][d] %}
{% assign colors = site.data.colors[y][m][d] %}
{% if colors['best_guess_background'] %}
  {% assign bgcolor = colors['best_guess_background'] %}
{% elsif colors['results'][0]['info']['background_colors'][0]['html_code'] %}
  {% assign bgcolor = colors['results'][0]['info']['background_colors'][0]['html_code'] %}
{% else %}
  {% assign bgcolor = "#ffffff" %}
{% endif %}
{% if exif['ImageWidth'] %}
  {% assign fw = exif['ImageWidth'] %}
  {% assign fh = exif['ImageHeight'] %}
  {% assign lw = 2048 %}
  {% assign mw = 1024 %}
  {% assign sw = 512 %}
  {% assign lh = fh | times: lw | divided_by: fw %}
  {% assign mh = fh | times: mw | divided_by: fw %}
  {% assign sh = 512 %}
{% else %}
  {% assign fw = '?' %}
  {% assign fh = '?' %}
  {% assign lw = 2048 %}
  {% assign mw = 1024 %}
  {% assign sw = 512 %}
  {% assign lh = '?' %}
  {% assign mh = '?' %}
  {% assign sh = 512 %}
{% endif %}
<div itemscope itemtype="http://schema.org/Photograph">
  <div class="pure-g links">
    <div class="pure-u-7-24 left">
      {% if page.previous %}
        <a href="{{ page.previous.url }}"><i class="fa fa-arrow-left"></i><span class="sm-hide"> {{ page.previous.date | date: "%Y %m %d" }}</span></a>
      {% else %}
        <a href="#"><i class="fa fa-times"></i></a>
      {% endif %}
    </div>
    <div class="pure-u-10-24 center">
      <strong><time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y %m %d" }}</time></strong>
    </div>
    <div class="pure-u-7-24 right">
      {% if page.next %}
        <a href="{{ page.next.url }}"><span class="sm-hide">{{ page.next.date | date: "%Y %m %d" }} </span><i class="fa fa-arrow-right"></i></a>
      {% else %}
        <a href="#"><i class="fa fa-times"></i></a>
      {% endif %}
    </div>
  </div>
  <div class="pure-g pic">

    {% if exif['ImageWidth'] %}
      <div class="pure-u-1 colored-wrapper" style="padding-bottom: {% prop_calc %}; background-color: {{ bgcolor }}">
    {% else %}
      <div class="pure-u-1">
    {% endif %}
      <img itemprop="image" src="{% img_src l %}" class="pure-img" alt="{{ page.title }}" />
    </div>
  </div>
  <div class="pure-g text">
    <div class="pure-u-md-6-24 pure-u-1"> </div>
    <div class="pure-u-md-12-24 pure-u-1">
      {% assign dc = page.shoot_date | date: '%s' %}
      {% assign dp = page.date | date: '%s' %}
      {% assign datediff = dp | minus: dc | divided_by: 86400 %}
      <h1>
        {% if datediff < 10 %}
          <i class="fa fa-fire" style="color: #b25d5d; opacity: {{ 10 | minus: datediff | divided_by: 10.0 }}"></i>
        {% endif %}
        <span itemprop="name">{{ page.title }}</span>
      </h1>
      <div itemprop="description">{{ content }}</div>
      <div class="meta tags">
        <hr />
        <span itemprop="contentLocation" itemscope itemtype="http://schema.org/Place">
          {% if exif['GPSPosition'] %}
            <span class="tag" itemprop="name"><i class="fa fa-map-marker"></i><a href="https://www.google.ru/maps/place/{{ exif['GPSPosition'] | replace: ' deg', '°' | replace: '"', '″' | replace "'", '′' }}" itemprop="url">{{ page.location }}</a></span>
            <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates" />
              <meta itemprop="latitude" content="{{ exif['GPSLatitude'] | dms2deg }}" />
              <meta itemprop="longitude" content="{{ exif['GPSLongitude'] | dms2deg }}" />
            </span>
          {% else %}
            <span class="tag" itemprop="name"><i class="fa fa-map-marker"></i>{{ page.location }}</span>
          {% endif %}
        </span>
        <span class="tag" itemprop="dateCreated" dateTime="{{ page.shoot_date }}"><i class="fa fa-calendar"></i>{{ page.shoot_date }}</span>
        <span class="tag" itemprop="creator"><i class="fa fa-user"></i>{{ page.author }}</span>
        <span class="tag"><i class="fa fa-camera"></i>{{ page.gear }}</span>

        {% if exif %}
          <span class="tag"><i class="fa fa-cogs"></i>f/{{ exif['Aperture'] }} {{ exif['ShutterSpeed'] }}s ISO{{ exif['ISO'] }} {{ exif['FocalLength'] }}</span>
        {% endif %}
        <!-- tags -->
        {% assign tags = site.data.tags[y][m][d]['results'][0]['tags'] %}
        {% if tags %}
          <hr />
          {% assign tag_count = tags | size | minus: 1 %}
          <div class="tags" itemprop="keywords">
            <i class="fa fa-tags"></i>
            {% for tag in tags limit:tag_count %}
              <span class="tag" style="filter: opacity({{ 100 | plus: tag['confidence'] | divided_by: 2 }}%)">{{ tag['tag'] }},</span>
            {% endfor %}
            {% assign tag = tags | last %}
            <span class="tag" style="filter: opacity({{ 100 | plus: tag['confidence'] | divided_by: 2 }}%)">{{ tag['tag'] }}</span>
          </div>
        {% endif %}
        {% if page.links %}
          <hr />
          <ul>
            {% for link in page.links %}
              <li>
                <i class="fa fa-link"></i>
                <b>{{ link.info }}</b>:
                <a href="{{ link.href }}" class="" itemprop="sameAs">
                  {% if link.title %}
                    {{ link.title }}
                  {% else %}
                    {{ link.href }}
                  {% endif %}
                </a>
              </li><br />
            {% endfor %}
          </ul>
        {% endif %}
        <hr />
        <i class="fa fa-cloud-download"></i> Скачать:
        <a href="{% img_src f %}">Исходный ({{fw}} ⨉ {{ fh }})*</a> |
        <a href="{% img_src l %}">{{lw}} ⨉ {{ lh }}</a> |
        <a href="{% img_src m %}">{{mw}} ⨉ {{ mh }}</a> |
        <a href="{% img_src s %}">{{sw}} ⨉ {{ sh }}</a> |
        <p><small>* "исходный" тут значит "такой, какой загружен в CDN", это не всегда соответствует наибольшему существующему размеру картинки.</small></p>
      </div>
    </div>
    <div class="pure-u-md-6-24 pure-u-1"> </div>
  </div>
</div>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Article",
    "name" : "{{ page.title }}",
    "datePublished" : "{{ page.date | date_to_xmlschema }}",
    "image": {
      "@type": "ImageObject",
      "url": "{% img_src m %}",
      "height": {{ mh }},
      "width": {{ mw }}
    },
    "articleBody" : "{{ page.content | strip_html | strip_newlines }}",
    "headline" : "{{ page.title }}",
    "author": {
      "@type": "Person",
      "name": "{{ page.author }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "dxfoto.ru",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.dxfoto.ru/logo_60.jpg",
        "width": 194,
        "height": 60
      }
    },
    "mainEntityOfPage":{
      "@type":"WebPage",
      "@id":"{{ site.url }}{{ page.url }}"
    },
    "dateModified": "{{ page.date | date_to_xmlschema }}"
  }
</script>
